<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编译作用域</title>
    <script src="../../../vue.js"></script>
</head>

<body>
    <div id="app">
        <cpn v-if="isShow"></cpn>
    </div>

    <template id="cpnT">
        <div>
            <h1> 子组件 </h1>
            <h2  v-if="isShow"> 当前就不会显示了</h2>
        </div>
    </template>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Word',
                isShow: true
            },
            methods: {},
            components: {
                cpn: {
                    template: "#cpnT",
                    data() {
                        return {
                            isShow: false
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>